body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

h1 {
  font-family: Arial, sans-serif;
  text-align: center;
  color: #333;
  margin: 20px 0;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

thead {
  background-color: #4caf50;
  color: white;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 12px;
  margin: 0;
}

th.id-jogo {
  width: 10%;
}

th.nome-jogo {
  width: 30%;
}

th.ano-jogo {
  width: 20%;
}

th.publicadora-jogo {
  width: 30%;
}

th.mais-jogo {
  width: 10%;
}

tbody tr {
  padding: 0;
  margin: 0;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:nth-child(odd) {
  background-color: goldenrod;
}

a {
  color: purple;
  font-weight: bold;
  text-decoration: line-through;
}
