@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body, html {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black !important;
}

h1, h2, h3, h4, h5, h6, p, label {
  color: white;
}

body {
  min-height: 100vh;
  height: auto !important;
}

.bg-image {
  position: relative;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-image::before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: inherit;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  filter: blur(8px); /* Ajuste o valor para mais ou menos desfoque */
  z-index: 1;
}

.form-body {
  position: relative;
  z-index: 2;
}

.conteudo-jogo {
  position: relative;
  z-index: 3;
}

table {
  margin: 0 auto;
  color: white;
}

.icon {
  width: 10%;
  height: 10%;
}

#adicionar {
  width: 10%;
  margin: 0 auto;
  margin-top: 10px;
}

#index, .form-items {
  background-color: black;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #6a11cb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(203, 17, 17, 0.9),
    rgba(252, 177, 37, 0.9)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(203, 17, 17, 0.9),
    rgba(252, 177, 37, 0.9)
  );
}

* {
  font-family: "Pixelify Sans", serif;
}

#logotipo {
  font-size: 30px;
}

.nav-link,
#logotipo, span {
  color: white !important;
}

.nav-link:hover {
  color: blue !important;
}

.nav-link {
  -webkit-transition: color 0.5s ease-out;
  -moz-transition: color 0.5s ease-out;
  -o-transition: color 0.5s ease-out;
  transition: color 0.5s ease-out;
}

.text-games {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Altura da tela inteira */
}

.line-1 {
  position: relative;
  width: 9ch;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 140px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.anim-typewriter {
  animation: typewriter 0.7s steps(44) 1s 1 normal both,
    blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 9ch;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: white;
  }
  to {
    border-right-color: black;
  }
}

.btn-custom {
  width: 150px;
  margin-bottom: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out; 
  background-color: white !important; 
  color: black !; 
  border: 2px solid black; 
}

.supriseModaFoca .btn-custom {
  opacity: 1;
}

#textosBotao {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.supriseModaFoca {
  opacity: 1 !important; 
}

.btn-custom:hover {
  border-color: rgb(136, 136, 136);
  background-color: rgb(136, 136, 136); 
   
}

